.wrapper {
    position: relative;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

.box {
    background: hotpink;
    padding: 1rem;
    transition: transform 0.3s ease;
    max-width: 300px;
    position: absolute;
    left: 0;
    border-top: solid 20px lightpink;
    border-bottom: solid 20px lightpink;
}

.box:nth-child(1) {
    margin-top: 15px;
    top: 0;
    z-index: 1;
}

.box:nth-child(2) {
    top: 105px;
    z-index: 2;
}

.box:nth-child(1):hover {
    transform: translateX(-60px);
}

.box:nth-child(2):hover {
    transform: translateX(60px);
}